@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

body {
    color: #000;
    font-family: 'Khula', sans-serif;
    background-color: #fff;
    text-align: center;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.tname {
    display: inline;
    background-color: #fff;
    box-shadow: -10px 0 0 #aaa, 10px 0 0 #aaa;
    padding: 10px 0;
    font-size: 4rem;
    color: #000;
    justify-content: center;
    align-items: center;
    position: relative;
}

.baton {
    background-color: gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text], input[type=email], input[type=password] {
    background-color: #ddd;
    color: black;
    border: none;
}
